<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_introduction.html">

	<div id="sub" layout:fragment="content">
    
        <article>
            <nav>
                <img src="/img/sub_nav_tit_cate1_tit2.png" alt="찾아오시는길"/>
                <p>
                    HOME > 팜스토리소개 > <em>찾아오시는길</em>
                </p>
            </nav>

            <!-- 내용 시작 -->


            <!-- 내용 끝 -->

        </article>
        
</html>	