<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/_header.html"></th:block>
<th:block th:include="/board/_layout-__${group}__.html"></th:block>

<section id="board" class="list">
	<h3>글목록</h3>
    <article>                
        <table border="0">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회</th>
            </tr>
            <tr th:each="article, i :${articles}">
                <td>1</td>
                <td><a th:href="@{/view(seq=${article.seq})}">제목입니다.</a>&nbsp;[3]</td>
                <td>별명</td>
                <td>21-02-24</td>
                <td>12</td>
            </tr>
        </table>
    </article>

    <!-- 페이지 네비게이션 -->
	<div class="paging">
		<a href="#" class="prev">이전</a>
		<a th:href="@{/list(pg=${num})}" class="num">1</a>
		<a th:href="@{/list(pg=${num})}" class="num">2</a>
		<a th:href="@{/list(pg=${num})}" class="num">3</a>
		<a href="#" class="next">다음</a>
	</div>

	<!-- 글쓰기 버튼 -->
    <a th:href="@{/board/write(group=${group}, cate=${cate})}" class="btnWrite">글쓰기</a>

</section>

<!-- 내용 끝 -->
		</article>
	</section>
</div>
<th:block th:include="/_footer.html"></th:block>
   
</html>